PORT=5001
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Harshita2908
DB_NAME=medibook
JWT_SECRET=68e65f049418bef6b3730faa42b538fc4a1fe4969829e9d8dac689ebd7d30a3d
RAZORPAY_KEY_ID=rzp_test_TljhQNN2AJ4P4e
RAZORPAY_KEY_SECRET=4uxokBbcTmnz59M1RnBFVzOH
